/* Anpassade färger */
.red-custom {
  background-color: #991b1b; /* Motsvarar Tailwinds bg-red-800 */
}

.red-custom-highlight {
  background-color: #ef4444 !important; /* Motsvarar Tailwinds bg-red-500 */
}

.text-red-custom {
  color: #b91c1c; /* Motsvarar Tailwinds red-700 */
}

.green-custom {
  background-color: #166534; /* Motsvarar Tailwinds bg-green-800 */
}

.text-green-custom {
  color: #166534; /* Motsvarar Tailwinds bg-green-800 */
}

.red-custom-highlight:hover {
  background-color: #b91c1c !important;
}

.green-custom:hover {
  background-color: #14532d;
}

/* Navigering */
.navbar-item {
  text-decoration: none;
}

.navbar-item:hover {
  background-color: #991b1b;
  text-decoration: underline;
}

.navbar.is-smaller {
  padding: 0;
  margin: 0;
}

.navbar.is-smaller .navbar-item {
  padding: 0.25rem 0.25rem;
  margin: 0;
}

/* Övrigt */
.container {
  max-width: 1300px !important;
}

.pt-custom {
  padding-top: 2rem;
}

/* Knappar */
.button.is-custom-green {
  background-color: #166534; /* Motsvarar Tailwinds bg-green-800 */
  border-color: #166534;
  color: #fff;
}

.button.is-custom-green:hover {
  background-color: #14532d;
  border-color: #14532d;
}